*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#1e3a8a,#2563eb);
}

.app{
background:white;
padding:30px;
border-radius:15px;
width:400px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
text-align:center;
margin-bottom:20px;
}

.input-container{
display:flex;
gap:10px;
}

input{
flex:1;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:10px 15px;
border:none;
background:#2563eb;
color:white;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#1d4ed8;
}

.task-info{
display:flex;
justify-content:space-between;
margin-top:15px;
font-size:14px;
}

ul{
list-style:none;
margin-top:20px;
}

li{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
margin-top:10px;
background:#f1f5f9;
border-radius:8px;
transition:0.2s;
}

li:hover{
transform:scale(1.02);
}

.completed span{
text-decoration:line-through;
color:gray;
}

.delete{
background:red;
padding:5px 8px;
border-radius:5px;
cursor:pointer;
}